<div class="m-player">
  <div class="lock">
    <div class="left">
      <i></i>
    </div>
  </div>
  <div class="hand"></div>
  <div class="container">
    <div class="wrap">
      <div class="btns">
        <i class="prev" (click)="onPrev(currentIndex - 1)"></i>
        <i class="toggle" [class.playing]="playing" (click)="onToggle()"></i>
        <i class="next" (click)="onNext(currentIndex + 1)"></i>
      </div>
      <div class="head">
        <img [src]="PicUrl" alt="">
        <i class="mark"></i>
      </div>
      <div class="play">
        <div class="words clearfix">
          <p class="ellipsis margin-bottom-none">{{currentSong?.name}}</p>
          <ul class="songs clearfix margin-bottom-none">
            <li *ngFor="let singer of currentSong?.ar; last as isLast">
              <a>{{singer.name}}</a>
              <span [hidden]="isLast">/</span>
            </li>
          </ul>
        </div>
        <div class="bar">
          <div class="slider-wrap">
            <app-music-slider [bufferOffSet]="bufferOffSet" [(ngModel)]="percent" (onAfterChange)="onPersentChange($event)"></app-music-slider>
          </div>
          <span class="time">
            <em>{{currentTime|formatTime}}</em> / {{duration|formatTime}}
          </span>
        </div>
      </div>
      <div class="oper">
        <i class="like" title="收藏"></i>
        <i class="share" title="分享"></i>
      </div>
      <div class="ctrl">
        <i class="volume" title="音量" (click)="toggleVolume($event)"></i>
        <i [ngClass]="currentMode.type" [title]="currentMode.label" (click)="changeMode()"></i>
        <p class="open" (click)="toggleListPanel()">
          <span></span>
        </p>
        <div class="control-vol" [hidden]="!showVolume">
          <app-music-slider [musicVertical]="true" [(ngModel)]="volume" (ngModelChange)="onVolumeChange($event)"></app-music-slider>
        </div>
      </div>
      <app-music-panel [songList]="SongList"
                       [playing]="playing"
                       [currentSong]="currentSong"
                       [currentIndex]="currentIndex"
                       [show]="showPanel"
                       (onClose)="showPanel = false"
                       (onChangeSong)="onChangeSong($event)"
      ></app-music-panel>
    </div>
  </div>
  <audio  #audioElement
          [src]="currentSong?.url"
          (canplay)="onCanPlay()"
          (timeupdate)="onTimeUpdate($event)"
          (ended)="onEnded()"
  ></audio>
</div>
