<div class="m-player">
  <div class="lock">
    <div class="left">
      <i></i>
    </div>
  </div>
  <div class="hand"></div>
  <div class="container">
    <div class="wrap">
      <div class="btns">
        <i class="prev"></i>
        <i class="toggle"></i>
        <i class="next"></i>
      </div>
      <div class="head">
        <img src="asdsa" alt="">
        <i class="mark"></i>
      </div>
      <div class="play">
        <div class="words clearfix hide">
          <p class="ellipsis margin-bottom-none">革命</p>
          <ul class="songs clearfix margin-bottom-none">
            <li>
              <a>歌手</a>/
            </li>
            <li>
              <a>歌手</a>
            </li>
          </ul>
        </div>
        <div class="bar">
          <div class="slider-wrap">
            <app-music-slider [bufferOffSet]="bufferOffSet" [(ngModel)]="sliderValue"></app-music-slider>
          </div>
          <span class="time">
            <em>{{sliderValue}}</em> / 100
          </span>
        </div>
      </div>
      <div class="oper">
        <i class="like" title="收藏"></i>
        <i class="share" title="分享"></i>
      </div>
      <div class="ctrl">
        <i class="volume" title="音量"></i>
        <i class="loop" title="循环"></i>
        <p class="open">
          <span></span>
        </p>
        <div class="control-vol">
          <app-music-slider [musicVertical]="true"></app-music-slider>
        </div>
      </div>
    </div>
  </div>
</div>
